//! **************************************************************************
// Written by: Map P.68d on Wed Jul 29 10:20:07 2015
//! **************************************************************************

SCHEMATIC START;
COMP "FLashRP" LOCATE = SITE "A5" LEVEL 1;
COMP "rst" LOCATE = SITE "T1" LEVEL 1;
COMP "tbre" LOCATE = SITE "R23" LEVEL 1;
COMP "tsre" LOCATE = SITE "T26" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "Y5" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "W1" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "W2" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "V1" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "U1" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "U2" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "R1" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "SW<8>" LOCATE = SITE "P1" LEVEL 1;
COMP "SW<9>" LOCATE = SITE "N1" LEVEL 1;
COMP "FlashAddr<10>" LOCATE = SITE "B6" LEVEL 1;
COMP "FlashAddr<11>" LOCATE = SITE "C5" LEVEL 1;
COMP "FlashAddr<12>" LOCATE = SITE "E5" LEVEL 1;
COMP "FlashAddr<20>" LOCATE = SITE "F5" LEVEL 1;
COMP "FlashAddr<13>" LOCATE = SITE "B4" LEVEL 1;
COMP "FlashAddr<21>" LOCATE = SITE "D3" LEVEL 1;
COMP "FlashAddr<14>" LOCATE = SITE "A4" LEVEL 1;
COMP "FlashAddr<22>" LOCATE = SITE "G5" LEVEL 1;
COMP "FlashAddr<15>" LOCATE = SITE "C4" LEVEL 1;
COMP "FlashAddr<16>" LOCATE = SITE "C3" LEVEL 1;
COMP "FlashAddr<17>" LOCATE = SITE "B2" LEVEL 1;
COMP "FlashAddr<18>" LOCATE = SITE "A2" LEVEL 1;
COMP "FlashAddr<19>" LOCATE = SITE "C2" LEVEL 1;
COMP "clk11" LOCATE = SITE "U25" LEVEL 1;
COMP "clk50" LOCATE = SITE "U26" LEVEL 1;
COMP "rdn" LOCATE = SITE "R25" LEVEL 1;
COMP "FlashData<10>" LOCATE = SITE "H5" LEVEL 1;
COMP "FlashData<11>" LOCATE = SITE "B1" LEVEL 1;
COMP "FlashData<12>" LOCATE = SITE "D1" LEVEL 1;
COMP "FlashData<13>" LOCATE = SITE "E1" LEVEL 1;
COMP "FlashData<14>" LOCATE = SITE "G2" LEVEL 1;
COMP "FlashData<15>" LOCATE = SITE "H1" LEVEL 1;
COMP "data_ready" LOCATE = SITE "P24" LEVEL 1;
COMP "wrn" LOCATE = SITE "T24" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "N26" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "M26" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "L25" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "L26" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "K26" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "M23" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "K24" LEVEL 1;
COMP "FlashVPEN" LOCATE = SITE "D5" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "L24" LEVEL 1;
COMP "LED<8>" LOCATE = SITE "J24" LEVEL 1;
COMP "LED<9>" LOCATE = SITE "G23" LEVEL 1;
COMP "FlashByte" LOCATE = SITE "F3" LEVEL 1;
COMP "SW<10>" LOCATE = SITE "N2" LEVEL 1;
COMP "SW<11>" LOCATE = SITE "M1" LEVEL 1;
COMP "SW<20>" LOCATE = SITE "T4" LEVEL 1;
COMP "SW<12>" LOCATE = SITE "L1" LEVEL 1;
COMP "SW<21>" LOCATE = SITE "R4" LEVEL 1;
COMP "SW<13>" LOCATE = SITE "L2" LEVEL 1;
COMP "SW<22>" LOCATE = SITE "R3" LEVEL 1;
COMP "SW<30>" LOCATE = SITE "L4" LEVEL 1;
COMP "SW<14>" LOCATE = SITE "W5" LEVEL 1;
COMP "SW<23>" LOCATE = SITE "P5" LEVEL 1;
COMP "SW<31>" LOCATE = SITE "L3" LEVEL 1;
COMP "SW<15>" LOCATE = SITE "W3" LEVEL 1;
COMP "SW<16>" LOCATE = SITE "V4" LEVEL 1;
COMP "SW<24>" LOCATE = SITE "P3" LEVEL 1;
COMP "SW<17>" LOCATE = SITE "V3" LEVEL 1;
COMP "SW<25>" LOCATE = SITE "N4" LEVEL 1;
COMP "SW<18>" LOCATE = SITE "U4" LEVEL 1;
COMP "SW<26>" LOCATE = SITE "N3" LEVEL 1;
COMP "SW<19>" LOCATE = SITE "U3" LEVEL 1;
COMP "SW<27>" LOCATE = SITE "N5" LEVEL 1;
COMP "SW<28>" LOCATE = SITE "M4" LEVEL 1;
COMP "SW<29>" LOCATE = SITE "M3" LEVEL 1;
COMP "Ram1Addr<10>" LOCATE = SITE "AD20" LEVEL 1;
COMP "Ram1Addr<11>" LOCATE = SITE "AC20" LEVEL 1;
COMP "Ram1Addr<12>" LOCATE = SITE "AD21" LEVEL 1;
COMP "Ram1Addr<13>" LOCATE = SITE "AB22" LEVEL 1;
COMP "Ram1Addr<14>" LOCATE = SITE "AD22" LEVEL 1;
COMP "Ram1Addr<15>" LOCATE = SITE "AA23" LEVEL 1;
COMP "Ram1Addr<16>" LOCATE = SITE "AC23" LEVEL 1;
COMP "Ram1Addr<17>" LOCATE = SITE "V23" LEVEL 1;
COMP "Ram1Addr<18>" LOCATE = SITE "W22" LEVEL 1;
COMP "Ram1Addr<19>" LOCATE = SITE "W24" LEVEL 1;
COMP "Ram2Addr<10>" LOCATE = SITE "AC9" LEVEL 1;
COMP "Ram2Addr<11>" LOCATE = SITE "AD8" LEVEL 1;
COMP "Ram2Addr<12>" LOCATE = SITE "AB8" LEVEL 1;
COMP "Ram2Addr<13>" LOCATE = SITE "AD7" LEVEL 1;
COMP "Ram2Addr<14>" LOCATE = SITE "AC7" LEVEL 1;
COMP "Ram2Addr<15>" LOCATE = SITE "AA4" LEVEL 1;
COMP "Ram2Addr<16>" LOCATE = SITE "AB3" LEVEL 1;
COMP "Ram2Addr<17>" LOCATE = SITE "AB4" LEVEL 1;
COMP "Ram2Addr<18>" LOCATE = SITE "AB5" LEVEL 1;
COMP "Ram2Addr<19>" LOCATE = SITE "AB6" LEVEL 1;
COMP "Ram1Data<10>" LOCATE = SITE "AD18" LEVEL 1;
COMP "Ram1Data<11>" LOCATE = SITE "AC17" LEVEL 1;
COMP "Ram1Data<12>" LOCATE = SITE "AB17" LEVEL 1;
COMP "Ram1Data<20>" LOCATE = SITE "AE25" LEVEL 1;
COMP "Ram1Data<13>" LOCATE = SITE "AF21" LEVEL 1;
COMP "Ram1Data<21>" LOCATE = SITE "AE26" LEVEL 1;
COMP "Ram1Data<14>" LOCATE = SITE "AE21" LEVEL 1;
COMP "Ram1Data<22>" LOCATE = SITE "AD26" LEVEL 1;
COMP "Ram1Data<30>" LOCATE = SITE "AF15" LEVEL 1;
COMP "Ram1Data<15>" LOCATE = SITE "AF20" LEVEL 1;
COMP "Ram1Data<23>" LOCATE = SITE "AC25" LEVEL 1;
COMP "Ram1Data<31>" LOCATE = SITE "AE15" LEVEL 1;
COMP "FlashAddr<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "Ram1Data<16>" LOCATE = SITE "AE23" LEVEL 1;
COMP "Ram1Data<24>" LOCATE = SITE "AF19" LEVEL 1;
COMP "FlashAddr<1>" LOCATE = SITE "C8" LEVEL 1;
COMP "Ram1Data<17>" LOCATE = SITE "AF24" LEVEL 1;
COMP "Ram1Data<25>" LOCATE = SITE "AE19" LEVEL 1;
COMP "FlashAddr<2>" LOCATE = SITE "D8" LEVEL 1;
COMP "Ram1Data<18>" LOCATE = SITE "AE24" LEVEL 1;
COMP "Ram1Data<26>" LOCATE = SITE "AF18" LEVEL 1;
COMP "FlashAddr<3>" LOCATE = SITE "D7" LEVEL 1;
COMP "Ram1Data<19>" LOCATE = SITE "AF25" LEVEL 1;
COMP "Ram1Data<27>" LOCATE = SITE "AF17" LEVEL 1;
COMP "FlashAddr<4>" LOCATE = SITE "E8" LEVEL 1;
COMP "Ram1Data<28>" LOCATE = SITE "AE17" LEVEL 1;
COMP "FlashAddr<5>" LOCATE = SITE "A7" LEVEL 1;
COMP "Ram1Data<29>" LOCATE = SITE "AF16" LEVEL 1;
COMP "FlashAddr<6>" LOCATE = SITE "C7" LEVEL 1;
COMP "FlashAddr<7>" LOCATE = SITE "C6" LEVEL 1;
COMP "FlashAddr<8>" LOCATE = SITE "D6" LEVEL 1;
COMP "FlashAddr<9>" LOCATE = SITE "A6" LEVEL 1;
COMP "FlashData<0>" LOCATE = SITE "G4" LEVEL 1;
COMP "FlashData<1>" LOCATE = SITE "J3" LEVEL 1;
COMP "FlashData<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "FlashData<3>" LOCATE = SITE "K5" LEVEL 1;
COMP "FlashData<4>" LOCATE = SITE "C1" LEVEL 1;
COMP "FlashData<5>" LOCATE = SITE "E2" LEVEL 1;
COMP "FlashData<6>" LOCATE = SITE "F1" LEVEL 1;
COMP "FlashData<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "FlashData<8>" LOCATE = SITE "H3" LEVEL 1;
COMP "FlashData<9>" LOCATE = SITE "J4" LEVEL 1;
COMP "Ram2Data<10>" LOCATE = SITE "AD11" LEVEL 1;
COMP "Ram2Data<11>" LOCATE = SITE "AC11" LEVEL 1;
COMP "Ram2Data<12>" LOCATE = SITE "AD12" LEVEL 1;
COMP "Ram2Data<20>" LOCATE = SITE "AC2" LEVEL 1;
COMP "Ram2Data<13>" LOCATE = SITE "AC12" LEVEL 1;
COMP "Ram2Data<21>" LOCATE = SITE "AB1" LEVEL 1;
COMP "Ram2Data<14>" LOCATE = SITE "AD13" LEVEL 1;
COMP "Ram2Data<22>" LOCATE = SITE "AA2" LEVEL 1;
COMP "Ram2Data<30>" LOCATE = SITE "AF11" LEVEL 1;
COMP "Ram2Data<15>" LOCATE = SITE "AF14" LEVEL 1;
COMP "Ram2Data<23>" LOCATE = SITE "AA1" LEVEL 1;
COMP "Ram2Data<31>" LOCATE = SITE "AF12" LEVEL 1;
COMP "Ram2Data<16>" LOCATE = SITE "AE2" LEVEL 1;
COMP "Ram2Data<24>" LOCATE = SITE "AF7" LEVEL 1;
COMP "Ram2Data<17>" LOCATE = SITE "AE1" LEVEL 1;
COMP "Ram2Data<25>" LOCATE = SITE "AF8" LEVEL 1;
COMP "Ram2Data<18>" LOCATE = SITE "AD1" LEVEL 1;
COMP "Ram2Data<26>" LOCATE = SITE "AE9" LEVEL 1;
COMP "Ram2Data<19>" LOCATE = SITE "AC1" LEVEL 1;
COMP "Ram2Data<27>" LOCATE = SITE "AF9" LEVEL 1;
COMP "Ram2Data<28>" LOCATE = SITE "AF10" LEVEL 1;
COMP "Ram2Data<29>" LOCATE = SITE "AE11" LEVEL 1;
COMP "FlashOE" LOCATE = SITE "J1" LEVEL 1;
COMP "FlashWE" LOCATE = SITE "K1" LEVEL 1;
COMP "Ram1Addr<0>" LOCATE = SITE "Y26" LEVEL 1;
COMP "Ram1Addr<1>" LOCATE = SITE "W25" LEVEL 1;
COMP "Ram1Addr<2>" LOCATE = SITE "W26" LEVEL 1;
COMP "Ram1Addr<3>" LOCATE = SITE "V24" LEVEL 1;
COMP "Ram1Addr<4>" LOCATE = SITE "V26" LEVEL 1;
COMP "Ram1Addr<5>" LOCATE = SITE "AC14" LEVEL 1;
COMP "Ram1Addr<6>" LOCATE = SITE "AD15" LEVEL 1;
COMP "Ram1Addr<7>" LOCATE = SITE "AC15" LEVEL 1;
COMP "Ram1Addr<8>" LOCATE = SITE "AC16" LEVEL 1;
COMP "Ram1Addr<9>" LOCATE = SITE "AC19" LEVEL 1;
COMP "Ram2Addr<0>" LOCATE = SITE "AD4" LEVEL 1;
COMP "Ram2Addr<1>" LOCATE = SITE "AD3" LEVEL 1;
COMP "Ram2Addr<2>" LOCATE = SITE "AD6" LEVEL 1;
COMP "Ram2Addr<3>" LOCATE = SITE "AC5" LEVEL 1;
COMP "Ram2Addr<4>" LOCATE = SITE "AD5" LEVEL 1;
COMP "Ram2Addr<5>" LOCATE = SITE "AD14" LEVEL 1;
COMP "Ram2Addr<6>" LOCATE = SITE "AC13" LEVEL 1;
COMP "Ram2Addr<7>" LOCATE = SITE "AB10" LEVEL 1;
COMP "Ram2Addr<8>" LOCATE = SITE "AD10" LEVEL 1;
COMP "Ram2Addr<9>" LOCATE = SITE "AD9" LEVEL 1;
COMP "Ram1Data<0>" LOCATE = SITE "AC24" LEVEL 1;
COMP "Ram1Data<1>" LOCATE = SITE "AD24" LEVEL 1;
COMP "Ram1Data<2>" LOCATE = SITE "AC26" LEVEL 1;
COMP "Ram1Data<3>" LOCATE = SITE "AB26" LEVEL 1;
COMP "Ram1Data<4>" LOCATE = SITE "Y24" LEVEL 1;
COMP "Ram1Data<5>" LOCATE = SITE "AA24" LEVEL 1;
COMP "Ram1Data<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "Ram1Data<7>" LOCATE = SITE "AB24" LEVEL 1;
COMP "Ram1EN" LOCATE = SITE "AA26" LEVEL 1;
COMP "Ram1Data<8>" LOCATE = SITE "AD19" LEVEL 1;
COMP "Ram1Data<9>" LOCATE = SITE "AB18" LEVEL 1;
COMP "Ram2EN" LOCATE = SITE "AC3" LEVEL 1;
COMP "Ram2Data<0>" LOCATE = SITE "AF2" LEVEL 1;
COMP "Ram2Data<1>" LOCATE = SITE "AE3" LEVEL 1;
COMP "Ram2Data<2>" LOCATE = SITE "AE4" LEVEL 1;
COMP "Ram2Data<3>" LOCATE = SITE "AF4" LEVEL 1;
COMP "Ram2Data<4>" LOCATE = SITE "AE5" LEVEL 1;
COMP "Ram2Data<5>" LOCATE = SITE "AF5" LEVEL 1;
COMP "Ram2Data<6>" LOCATE = SITE "AF6" LEVEL 1;
COMP "Ram2Data<7>" LOCATE = SITE "AE7" LEVEL 1;
COMP "Ram2Data<8>" LOCATE = SITE "AE13" LEVEL 1;
COMP "Ram2Data<9>" LOCATE = SITE "AF13" LEVEL 1;
COMP "Ram1OE" LOCATE = SITE "AD17" LEVEL 1;
COMP "Ram2OE" LOCATE = SITE "AB9" LEVEL 1;
COMP "FlashCE<0>" LOCATE = SITE "E6" LEVEL 1;
COMP "FlashCE<1>" LOCATE = SITE "E4" LEVEL 1;
COMP "FlashCE<2>" LOCATE = SITE "E3" LEVEL 1;
COMP "Ram1WE" LOCATE = SITE "AA25" LEVEL 1;
COMP "Ram2WE" LOCATE = SITE "AC4" LEVEL 1;
COMP "LED<10>" LOCATE = SITE "J25" LEVEL 1;
COMP "LED<11>" LOCATE = SITE "J26" LEVEL 1;
COMP "LED<12>" LOCATE = SITE "H26" LEVEL 1;
COMP "LED<13>" LOCATE = SITE "G25" LEVEL 1;
COMP "LED<14>" LOCATE = SITE "G26" LEVEL 1;
COMP "LED<15>" LOCATE = SITE "F26" LEVEL 1;
COMP "DYP0<0>" LOCATE = SITE "B26" LEVEL 1;
COMP "DYP0<1>" LOCATE = SITE "C25" LEVEL 1;
COMP "DYP0<2>" LOCATE = SITE "D24" LEVEL 1;
COMP "DYP0<3>" LOCATE = SITE "A25" LEVEL 1;
COMP "DYP1<0>" LOCATE = SITE "C24" LEVEL 1;
COMP "DYP0<4>" LOCATE = SITE "B24" LEVEL 1;
COMP "DYP1<1>" LOCATE = SITE "D22" LEVEL 1;
COMP "DYP0<5>" LOCATE = SITE "C26" LEVEL 1;
COMP "DYP1<2>" LOCATE = SITE "E23" LEVEL 1;
COMP "DYP0<6>" LOCATE = SITE "D26" LEVEL 1;
COMP "DYP1<3>" LOCATE = SITE "B23" LEVEL 1;
COMP "DYP1<4>" LOCATE = SITE "A23" LEVEL 1;
COMP "DYP1<5>" LOCATE = SITE "D23" LEVEL 1;
COMP "DYP1<6>" LOCATE = SITE "B25" LEVEL 1;
SCHEMATIC END;

