
NET "DYP0[6]" LOC = D26;
NET "DYP0[5]" LOC = C26;
NET "DYP0[4]" LOC = B24;
NET "DYP0[3]" LOC = A25;
NET "DYP0[2]" LOC = D24;
NET "DYP0[1]" LOC = C25;
NET "DYP0[0]" LOC = B26;

NET "DYP1[6]" LOC = B25;
NET "DYP1[5]" LOC = D23;
NET "DYP1[4]" LOC = A23;
NET "DYP1[3]" LOC = B23;
NET "DYP1[2]" LOC = E23;
NET "DYP1[1]" LOC = D22;
NET "DYP1[0]" LOC = C24;

#NET "clk" LOC = U25;
#NET "clk0" LOC = U26;
NET "clk" LOC = T3;
NET "rst" LOC = T1;

NET "LED[15]" LOC = F26;
NET "LED[14]" LOC = G26;
NET "LED[13]" LOC = G25;
NET "LED[12]" LOC = H26;
NET "LED[11]" LOC = J26;
NET "LED[10]" LOC = J25;
NET "LED[9]" LOC = G23;
NET "LED[8]" LOC = J24;
NET "LED[7]" LOC = L24;
NET "LED[6]" LOC = K24;
NET "LED[5]" LOC = M23;
NET "LED[4]" LOC = K26;
NET "LED[3]" LOC = L26;
NET "LED[2]" LOC = L25;
NET "LED[1]" LOC = M26;
NET "LED[0]" LOC = N26;

NET "Ram1Addr[19]" LOC = W24;
NET "Ram1Addr[18]" LOC = W22;
NET "Ram1Addr[17]" LOC = V23;
NET "Ram1Addr[16]" LOC = AC23;
NET "Ram1Addr[15]" LOC = AA23;
NET "Ram1Addr[14]" LOC = AD22;
NET "Ram1Addr[13]" LOC = AB22;
NET "Ram1Addr[12]" LOC = AD21;
NET "Ram1Addr[11]" LOC = AC20;
NET "Ram1Addr[10]" LOC = AD20;
NET "Ram1Addr[9]" LOC = AC19;
NET "Ram1Addr[8]" LOC = AC16;
NET "Ram1Addr[7]" LOC = AC15;
NET "Ram1Addr[6]" LOC = AD15;
NET "Ram1Addr[5]" LOC = AC14;
NET "Ram1Addr[4]" LOC = V26;
NET "Ram1Addr[3]" LOC = V24;
NET "Ram1Addr[2]" LOC = W26;
NET "Ram1Addr[1]" LOC = W25;
NET "Ram1Addr[0]" LOC = Y26;

NET "Ram1Data[16]" LOC = AE23;
NET "Ram1Data[17]" LOC = AF24;
NET "Ram1Data[18]" LOC = AE24;
NET "Ram1Data[19]" LOC = AF25;
NET "Ram1Data[20]" LOC = AE25;
NET "Ram1Data[21]" LOC = AE26;
NET "Ram1Data[22]" LOC = AD26;
NET "Ram1Data[23]" LOC = AC25;
NET "Ram1Data[24]" LOC = AF19;
NET "Ram1Data[25]" LOC = AE19;
NET "Ram1Data[26]" LOC = AF18;
NET "Ram1Data[27]" LOC = AF17;
NET "Ram1Data[28]" LOC = AE17;
NET "Ram1Data[29]" LOC = AF16;
NET "Ram1Data[30]" LOC = AF15;
NET "Ram1Data[31]" LOC = AE15;


NET "Ram1Data[15]" LOC = AF20;
NET "Ram1Data[14]" LOC = AE21;
NET "Ram1Data[13]" LOC = AF21;
NET "Ram1Data[12]" LOC = AB17;
NET "Ram1Data[11]" LOC = AC17;
NET "Ram1Data[10]" LOC = AD18;
NET "Ram1Data[9]" LOC = AB18;
NET "Ram1Data[8]" LOC = AD19;
NET "Ram1Data[7]" LOC = AB24;
NET "Ram1Data[6]" LOC = Y22;
NET "Ram1Data[5]" LOC = AA24;
NET "Ram1Data[4]" LOC = Y24;
NET "Ram1Data[3]" LOC = AB26;
NET "Ram1Data[2]" LOC = AC26;
NET "Ram1Data[1]" LOC = AD24;
NET "Ram1Data[0]" LOC = AC24;

NET "Ram2Addr[0]" LOC = AD4;
NET "Ram2Addr[1]" LOC =AD3;
NET "Ram2Addr[2]" LOC =AD6;
NET "Ram2Addr[3]" LOC =AC5;
NET "Ram2Addr[4]" LOC =AD5;
NET "Ram2Addr[5]" LOC =AD14;
NET "Ram2Addr[6]" LOC =AC13;
NET "Ram2Addr[7]" LOC =AB10;
NET "Ram2Addr[8]" LOC =AD10;
NET "Ram2Addr[9]" LOC =AD9;
NET "Ram2Addr[10]" LOC =AC9;
NET "Ram2Addr[11]" LOC =AD8;
NET "Ram2Addr[12]" LOC =AB8;
NET "Ram2Addr[13]" LOC =AD7;
NET "Ram2Addr[14]" LOC =AC7;
NET "Ram2Addr[15]" LOC =AA4;
NET "Ram2Addr[16]" LOC =AB3;
NET "Ram2Addr[17]" LOC =AB4;
NET "Ram2Addr[18]" LOC =AB5;
NET "Ram2Addr[19]" LOC =AB6;

NET "Ram2Data[0]" LOC =  AF2;
NET "Ram2Data[1]" LOC =  AE3;
NET "Ram2Data[2]" LOC =  AE4;
NET "Ram2Data[3]" LOC =  AF4;
NET "Ram2Data[4]" LOC =  AE5;
NET "Ram2Data[5]" LOC =  AF5;
NET "Ram2Data[6]" LOC =  AF6;
NET "Ram2Data[7]" LOC =  AE7;
NET "Ram2Data[8]" LOC =  AE13;
NET "Ram2Data[9]" LOC =  AF13;
NET "Ram2Data[10]" LOC =  AD11;
NET "Ram2Data[11]" LOC =  AC11;
NET "Ram2Data[12]" LOC =  AD12;
NET "Ram2Data[13]" LOC =  AC12;
NET "Ram2Data[14]" LOC =  AD13;
NET "Ram2Data[15]" LOC =  AF14;
NET "Ram2Data[16]" LOC =  AE2;
NET "Ram2Data[17]" LOC =  AE1;
NET "Ram2Data[18]" LOC =  AD1;
NET "Ram2Data[19]" LOC =  AC1;
NET "Ram2Data[20]" LOC =  AC2;
NET "Ram2Data[21]" LOC =  AB1;
NET "Ram2Data[22]" LOC =  AA2;
NET "Ram2Data[23]" LOC =  AA1;
NET "Ram2Data[24]" LOC =  AF7;
NET "Ram2Data[25]" LOC =  AF8;
NET "Ram2Data[26]" LOC =  AE9;
NET "Ram2Data[27]" LOC =  AF9;
NET "Ram2Data[28]" LOC =  AF10;
NET "Ram2Data[29]" LOC =  AE11;
NET "Ram2Data[30]" LOC =  AF11;
NET "Ram2Data[31]" LOC =  AF12;

NET "Ram1EN" LOC = AA26;
NET "Ram1OE" LOC = AD17;
NET "Ram1WE" LOC = AA25;

NET "Ram2EN" LOC = AC3;
NET "Ram2OE" LOC = AB9;
NET "Ram2WE" LOC = AC4;


#NET "rdn" LOC = R25;
#NET "tbre" LOC = R23;
#NET "tsre" LOC = T26;
#NET "wrn" LOC = T24;
#NET "data_ready" LOC = P24;

#NET "SW[15]" LOC = W3;
#NET "SW[14]" LOC = W5;
#NET "SW[13]" LOC = L2;
#NET "SW[12]" LOC = L1;
#NET "SW[11]" LOC = M1;
#NET "SW[10]" LOC = N2;
#NET "SW[9]" LOC = N1;
#NET "SW[8]" LOC = P1;
#NET "SW[7]" LOC = R2;
#NET "SW[6]" LOC = R1;
#NET "SW[5]" LOC = U2;
#NET "SW[4]" LOC = U1;
#NET "SW[3]" LOC = V1;
#NET "SW[2]" LOC = W2;
#NET "SW[1]" LOC = W1;
#NET "SW[0]" LOC = Y5;